<h1>Detalhes dos requisitos </h1>
    <h2> {{poll_id.questao }}   </h2>

{%  if error_message %}<p><strong>{{ error_message }}</strong></p> {%  endif  %}
<form action="{% url vote poll_id.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll_id.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" >
        <label for="choice{{ forloop.counter }}">{{ choice.choice }} </label><br />
    {%  endfor %}
<br>
<input type="submit" value="Vote" />
</form>



