<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Usário</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Senha</label>
            <input type="password" name="password">
        </p>
        <!--<button type="submit">Entrar</button>-->
        <input type="submit" value="Entrar" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</body>
</html>